@model IEnumerable<AteliwareExam.Controllers.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Pesquisar Repositórios</h2>
<style>

</style>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "" }))
{
    <div id="search_by_Lang">
        <label for="repoLang">Informe uma Linguagem de Programação:</label>
        <input type="text" name="langName" value="" class="form-control input-sm" maxlength="64" placeholder="Search" />
        <br />
        <input type="submit" class="btn btn-primary float-right" value="Buscar"/>
    </div>
}
<br />

<table class="table">
    <tr>
        <th class="thead-inverse">
            Nome
        </th>
        <th>
            Nome completo
        </th>
        <th>
            Caminho
        </th>
        <th>
            Descrição
        </th>
        <th>
           Criado em
        </th>
        <th>
           Homepage
        </th>
        <th>
           Tamanho
        </th>
        <th>
            Estrelas
        </th>
        <th>Detalhes</th>
        <th></th>
    </tr>
    @{ if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.html_url)
            </td>
            <td width="200px">
                @Html.DisplayFor(modelItem => item.description)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>          
            <td>
                @Html.DisplayFor(modelItem => item.homepage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stargazers_count)
            </td>     
            <td>
                @Html.ActionLink("Detalhes", "Details", new { item = item.id }) 
            </td>
        </tr>
                }
            }
        }
</table>
